Our_Cluster/__pycache__/
Our_Cluster/data/
Our_Cluster/result/*.pickle
Our_Cluster/result/*.png
Our_Cluster/result/*.txt
GPU_Cluster/result/*.txt
GPU_Cluster/__pycache__/
GPU_Cluster/data/
GPU_Cluster/result/*.pickle
GPU_Cluster/result/*.png
.ipynb_checkpoints

